* {
    /* outline: 1px red solid;*/
}
.contenido-principal {
margin-bottom: 20px;
}
html, body,  p {
    margin: 0;
    padding: 0;

}

body {
    background-color: #a3c9a3;
}

header {
    background-color: #6dad70; /*!important;*/
}

a {
    text-decoration: none;
    color: #1b5e20;
}

/* selectors de CLASE */
.vinculo-pie {
    color: #1b5e20;
}

/* Cabecera */
.cabecera-principal {
    color: #1b5e20;
}

.cabecera-principal a img {
    width: 110px;
}

.cabecera-principal nav a {
    color: #1b5e20;
}

/* contenido principal */


/* pie principal */
.pie-principal {
    background-color: #a5d6a7;
}